<div class="issues column is-4 is-offset-4">
  <div class="level">
    <h1 class="level-item has-text-centered is-size-2">Issues You Follow</h1>
  </div>
  <% if @issues.empty? %>
  <div class="level">
      <h3 class="level-item has-text-centered">
        You do not currently follow any Issues.
      </h3>
  </div>
  <% else %>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Issue</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <% @issues.each do |issue| %>
    <tbody>
      <tr id="issues-row-<%= issue.id %>">
        <td><%= issue.name %></td>
        <td><%= link_to "Check Activity", users_issue_path(issue), class: 'button is-link is-outlined is-small' %></td>
        <td><%= link_to 'Unfollow', issue_unfollows_path(issue_id: issue.id), class: 'button is-danger is-outlined is-small', remote: true, method: :delete %></td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <% end %>
  <div class="level">
    <h1 class="level-item has-text-centered is-size-3"><%= link_to "Follow Issues", issues_path, class: "button is-link" %></h1>
  </div>
</div>