<h1>Recent Activity for Issue: <%= @issue.name %></h1>

<% @bills_by_issue.each do |issue_bill| %>
<article class="media bill">
  <div class="media-content">
    <div class="content">
      <p class="title">
        <strong class="bill_number"><%= issue_bill.bill_number %></strong> <small class="committees"><%= issue_bill.committees %></small> 
        <br>
        <%= issue_bill.title %>
      </p>
      <p class="last_major_action">
        <small class="last_action_date"><%= issue_bill.last_action_date %></small>
        <%= issue_bill.last_major_action %>
      </p>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          Link to follow bill
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>
<% end %>