
<div class="column is-4 is-offset-4">

  <div class="level">
    <h1 class="level-item has-text-centered is-size-1">Sign In to Your Account</h1>
  </div>
  <%= form_for :session, url: login_path do |f| -%>
  <div class="field">
      <%= f.label :username, "Username", class: 'label' %>
      <div class="control has-icons-left">
        <%= f.text_field :username, class: 'input' %>
        <span class="icon is-small is-left">
          <i class="fa fa-user"></i>
        </span>
      </div>
      <p class="help">Enter your super cool Username</p>
  </div>

  <div class="field">
      <%= f.label :password, "Password", class: 'label' %>
      <div class="control has-icons-left">
        <%= f.password_field :password, class: 'input' %>
        <span class="icon is-small is-left">
          <i class="fa fa-lock"></i>
        </span>
      </div>
      <p class="help">You'll need to give us your super secret passcode</p>
  </div>

  <div class="field">
    <div class="control signin-form-submit">
      <%= f.submit "Sign In", class: 'button is-danger', method: :post %>
    </div>
  </div>
  <% end %>
  <div class="level">
    <h1 class="level-item has-text-centered is-size-1">or</h1>
  </div>
  <div class="level">
    <p class="level-item has-text-centered">
      <a href="/auth/facebook" class="button is-link is-large", id="facebook-login">
        <span class="icon is-medium">
          <i class="fa fa-facebook"></i>
        </span>
        <span>Sign In With Facebook</span>
      </a>
    </p>
  </div>

</div>