<div class="bills">
  <div class="level">
    <h1 class="level-item has-text-centered is-size-2">Bills You Follow</h1>
  </div>
  <% if @bills.empty? %>
  <div class="level">
      <h3 class="level-item has-text-centered">
        You do not currently follow any bills. Add and view an issue to select bills to follow.
      </h3>
  </div>
  <% else %>
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Bill ID</th>
        <th>Title</th>
        <th>Subject</th>
        <th>Active?</th>
        <th>Enacted?</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <% @bills.each do |bill| %>
    <tbody>
      <tr id="bill-<%= bill.id %>">
        <td><%= bill.bill_id %></td>
        <td><%= bill.title %></td>
        <td><%= bill.subject %></td>
        <td><%= bill.active.to_s %></td>
        <td><%= bill.enacted.to_s %></td>
        <td><%= link_to "View Bill", users_bill_path(bill, bill_ref: bill.bill_ref), class: 'button is-link is-outlined is-small' %></td>
        <td><%= link_to "Unfollow", bill_unfollows_path(bill_id: bill.id), method: :delete, remote: true, name: 'bill-unfollow-button', class: 'button is-danger is-outlined is-small' %></td>
      </tr>
    </tbody>
    <% end %>
  </table> 
  <% end %>
  <div class="level">
    <h1 class="level-item has-text-centered is-size-3"><%= link_to "Follow Issues", issues_path, class: "button is-link" %></h1>
  </div>
</div>