<!DOCTYPE html>
<html>
  <head>
    <title>CitizenSentinel</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<nav class="navbar is-light" role="navigation" aria-label="main navigation">
	  <div class="navbar-brand">
	    <a class="navbar-item" href="/">
	      <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/41077-200.png" alt="congress", width="20">
	    	CitizenSentinel
	    </a>

	    <button class="button navbar-burger">
	      <span></span>
	      <span></span>
	      <span></span>
	    </button>
	  </div>

	  <div class="navbar-menu">

<!-- 		  <div class="navbar-start">
		  	  <div class="navbar-item has-dropdown is-hoverable">
			    <a class="navbar-link">
			      Info
			    </a>
			    <div class="navbar-dropdown">
			      <a class="navbar-item">
			        About
			      </a>
			      <a class="navbar-item">
			        Author
			      </a>
			    </div>
			  </div>
		  </div> -->

		  <div class="navbar-end">
		  	<% if visitor? %>
		  	<div class="navbar-item signup-nav">
		  		<%= link_to "Sign Up", new_user_path, class: "button is-link" %>
		  	</div>
		  	<div class="navbar-item signin-nav">
		  		<%= link_to "Sign In", new_login_path, class: "button is-danger" %>
		  	</div>
		  	<% elsif current_user %>
		  	<div class="navbar-item">
		  		<%= link_to user_path(current_user), class: 'button is-danger is-outlined' do %>
				 	<span class="icon is-small">
      					<i class="fa fa-user"></i>
    				</span>
    				<span>
    					My Profile
    				</span>
				<% end %>
		  	</div>
		  	<div class="navbar-item">
		  		<%= link_to "Sign Out", logout_path, class: "button is-link", method: :delete %>
		  	</div>
		  	<% end %>
		  </div>
	  	
	  </div>


	</nav>

	<% flash.each do |type, message| %>
		<% if flash[:success] %>
	    <div class="flash-success">
	      <%= sanitize(message) %>
	    </div>
	    <% elsif flash[:failure] %>
	    <div class="flash-failure">
	      <%= sanitize(message) %>
	    </div>
	    <% end %>
    <% end %>

    <%= yield %>

	<footer class="footer footer-pad">
	  <div class="container">
	    <div class="content has-text-centered">
	      <p>
	        <strong>CitizenSentinel</strong> by Aaron Hursh</a>.
	      </p>
	      <p>
	      	2017
	      </p>
	    </div>
	  </div>
	</footer>
  </body>
</html>
